## Wrangling Procedure Practice

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/leo/Desktop/Career Foundry/Achievement 4/Instacart Basket Analysis 30:10:25'

In [3]:
# importing data set orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'orders.csv'),index_col = False)

In [4]:
# importing data set products.csv
df_prods = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'products.csv'),index_col = False)

In [5]:
# importing data set depratments.csv
df_dep = pd.read_csv(os.path.join(path, '02 - Data', 'Original Data', 'departments.csv'),index_col = False)

In [10]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [11]:
#Transposing df_dep
df_dep.T

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [12]:
df_dep_t = df_dep.T

In [13]:
df_dep_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [14]:
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [15]:
new_header = df_dep_t.iloc[0]

In [16]:
new_header

0    department
Name: department_id, dtype: object

In [17]:
df_dep_t_new = df_dep_t[1:]

In [18]:
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [19]:
df_dep_t_new.columns = new_header
# set the header row as the df header

In [20]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [21]:
data_dict = df_dep_t_new.to_dict('index')

In [22]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [23]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [24]:
print(data_dict.get('19'))

{'department': 'snacks'}

In [25]:
df_snacks = df_prods[df_prods['department_id']==19]

In [26]:
df_prods['department_id']==19

0         True
1        False
2        False
3        False
4        False
         ...
49688    False
49689    False
49690    False
49691    False
49692    False
Name: department_id, Length: 49693, dtype: bool

In [27]:
df_prods[df_prods['department_id']==19]

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5
...,...,...,...,...,...
49666,49662,Bacon Cheddar Pretzel Pieces,107,19,3.6
49669,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19,6.9
49670,49666,Ginger Snaps Snacking Cookies,61,19,5.2
49675,49671,Milk Chocolate Drops,45,19,3.0
49683,49679,Famous Chocolate Wafers,61,19,6.0

In [28]:
df_snacks = df_prods[df_prods['department_id']==19]

In [29]:
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

## Exercise 4.4 Task

# 2.Find another identifier variable in the df_ords dataframe that doesn’t need to be included in your analysis as a numeric variable and change it to a suitable format.

In [30]:
# Checking what variables I have
df_ords.head(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [7]:
# Checking 'user ID data type
df_ords['user_id'].dtype

dtype('int64')

In [8]:
# Convert user_id from numeric to string since it's an identifier
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [9]:
# Check Change has been made
df_ords['user_id'].dtype

dtype('O')

# 3.Look for a variable in your df_ords dataframe with an unintuitive name and change its name without overwriting the dataframe.

In [10]:
# Created a copy of df_ords with a clearer column name for 'DOW'
df_ords_renamed = df_ords.rename(columns={'order_dow': 'order_day_of_week'})

In [35]:
# Check the result
df_ords_renamed.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

# 4.Your client wants to know what the busiest hour is for placing orders. Find the frequency of the corresponding variable and share your findings.

In [36]:
# Used describe() to get summary statistics of order_hour_of_day
df_ords['order_hour_of_day'].describe()

count    3.421083e+06
mean     1.345202e+01
std      4.226088e+00
min      0.000000e+00
25%      1.000000e+01
50%      1.300000e+01
75%      1.600000e+01
max      2.300000e+01
Name: order_hour_of_day, dtype: float64

In [37]:
# Find the mode of order_hour_of_day
df_ords['order_hour_of_day'].mode()

0    10
Name: order_hour_of_day, dtype: int64

# The busiest hour of the day is (10) 10:00am

# 5.Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.

In [38]:
# Find the value of 4
print(data_dict.get('4'))

{'department': 'produce'}

In [39]:
# Value of 4 examples in department_id within df_prods
df_prods[df_prods['department_id'] == 4]

,product_id,product_name,aisle_id,department_id,prices
30,31,White Pearl Onions,123,4,7.5
42,43,Organic Clementines,123,4,11.5
44,45,European Cucumber,83,4,14.3
65,66,European Style Spring Mix,123,4,11.7
88,89,Yogurt Fruit Dip Sliced Apples,123,4,12.6
...,...,...,...,...,...
49582,49578,Black Garlic Bulbs,123,4,8.0
49623,49619,Opo Squash,83,4,12.7
49639,49635,"Baby Food Blueberry, Parsnip & Buckwheat Stage 2",83,4,12.5
49661,49657,Cabernet Tomatoes,83,4,8.3
49687,49683,Cucumber Kirby,83,4,13.2

# department_id 4 = 'produce'

# 6. The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.

In [40]:
# Breakfast department_id = 14
df_breakfast = df_prods[df_prods['department_id'] == 14]

In [41]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

## created a subset to show breakfast products above.

# 7.They’d also like to see details about products that customers might use to throw dinner parties. Your task is to find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood. You’ll need to present this subset to your client.

In [42]:
#created subset for dinner party
df_prods_dinner_party = df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]

In [43]:
df_prods_dinner_party.head()

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1

# 8. It’s important that you keep track of total counts in your dataframes. How many rows does the last dataframe you created have?

In [44]:
df_prods_dinner_party.shape
# (Rows/Columns):

(7650, 5)

# 9. Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” Extract all the information you can about this user.

In [45]:
# set a data frame for user_id 1
df_user1=df_ords.loc[df_ords['user_id'] == 1]

In [46]:
df_user1

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

# 10. You also need to provide some details about this user’s behavior. What basic stats can you provide based on the information you have?

In [47]:
df_user1.describe()

,order_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN

## this user places orders at the start of the week, and usually will order before 12pm. the average mean time between placing orders is 19 days.

# 12. Export your df_ords dataframe as “orders_wrangled.csv” in your “Prepared Data” folder.

In [11]:
df_ords.to_csv(os.path.join(path, '02 - Data','Prepared Data', 'orders_wrangled.csv'))

# 13. Export the df_dep_t_new dataframe as “departments_wrangled.csv” in your “Prepared Data” folder so that you have a “.csv” file of your departments data in the correct format.

In [49]:
df_dep_t_new.to_csv(os.path.join(path, '02 - Data','Prepared Data', 'departments_wrangled.csv'))