In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/leo/Desktop/Career Foundry/Achievement 4/Instacart Basket Analysis 30:10:25'

In [5]:
# Importing orders_products_combined from pkl format
orders_products_combined = pd.read_pickle(os.path.join(path, '02 - Data', 'prepared Data', 'orders_products_combined.pkl'))

In [10]:
# Importing products data 
products_cleaned_4_5 = pd.read_csv(os.path.join(path, '02 - Data', 'prepared Data', 'products_cleaned_4.5.csv'),index_col = False)

In [15]:
# Check Shape
orders_products_combined.shape

(32434489, 12)

In [19]:
products_cleaned_4_5.shape

(49672, 5)

# 5. Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [14]:
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,First_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both

In [18]:
products_cleaned_4_5.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

## I will use the df.merge() to combine the 2 data sets on = product_id

In [21]:
#test the merge wihtout overwriting
pd.merge(orders_products_combined, products_cleaned_4_5, on = ['product_id'], indicator='Match')

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,First_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match
0,2539329,1,prior,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,NaN,True,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,NaN,True,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,NaN,True,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,NaN,True,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,prior,13,1,12,7.0,False,14197,5,1,both,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,prior,13,1,12,7.0,False,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,prior,13,1,12,7.0,False,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,prior,13,1,12,7.0,False,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,prior,13,1,12,7.0,False,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both

# There are 2 things I need to address. 
1. Remove merge column from orders_products_combined
2. Remove the eval_set column

In [ ]:
# Drop columns
orders_products_combined = orders_products_combined.drop(columns=['eval_set','_merge'])

In [24]:
# Check output
orders_products_combined.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,First_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,True,196,1,0
1,2539329,1,1,2,8,NaN,True,14084,2,0
2,2539329,1,1,2,8,NaN,True,12427,3,0
3,2539329,1,1,2,8,NaN,True,26088,4,0
4,2539329,1,1,2,8,NaN,True,26405,5,0

In [25]:
orders_products_combined.shape

(32434489, 10)

## Now time for merge

In [26]:
#merge updated DataFrame
df_ords_prods_merge = products_cleaned_4_5.merge(orders_products_combined, on = 'product_id', indicator = True)

In [27]:
# Check output
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,First_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both

In [28]:
#check the shape
df_ords_prods_merge.shape

(32404859, 15)

# 6. Confirm the results of the merge using the merge flag.

In [29]:
#checking the result of merge using merge flag
df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# 7. Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

In [30]:
# Export data to pkl
df_ords_prods_merge.to_pickle(os.path.join(path, '02 - Data','Prepared Data', 'ords_prods_merge.pkl'))